.popup 
  .popup-close
  .popup__container
    .popup__body
      video(class="popup__video" playsinline preload="none" controls)
        source(src="../videos/blank.webm" data-src="" type="video/webm")
        source(src="../videos/blank.mp4" data-src="" type="video/mp4")