footer.footer
  a(href="mailto:chernozem.pro@gmail.com") chernozem.pro@gmail.com
  .footer__social 
    a(href="#") 
      img(src="./img/inst.png", alt="inst")
    a(href="#") 
      img(src="./img/inst.png", alt="inst")
  .footer__label Chernozem Studio 2022