footer.footer.container
  a(href="mailto:chernozem.pro@gmail.com") chernozem.pro@gmail.com
  .footer__social 
    a(href="#") 
      img(src="./img/social/vimeo.svg", alt="vimeo")
    a(href="#") 
      img(src="./img/social/ig.svg", alt="instagram")
  .footer__label Chernozem Studio 2022