footer.footer.container
  a(href="mailto:alex@chernozem.pro") alex@chernozem.pro
  .footer__social 
    a(href="https://www.youtube.com/channel/UCkeuc21wa6zYgi714qR925w" target="_blank") 
      img(src="./img/social/youtube.svg", alt="youtube")
    a(href="https://www.instagram.com/alex.chernavskiy.color/" target="_blank") 
      img(src="./img/social/ig.svg", alt="instagram")
  .footer__label Chernozem Studio 2022