section.partners.container
  .partners__slider.swiper
    .partners__content.swiper-wrapper
      a(href="https://euro-service.ru/", target="_blank", class="partners__item swiper-slide") 
        img(src="./img/partners/euroservice.png", alt="")
      a(href="https://www.invitro.ru/", target="_blank", class="partners__item swiper-slide")
        img(src="./img/partners/invitro.jpeg", alt="")
      a(href="https://www.nestle.ru/", target="_blank", class="partners__item swiper-slide")
        img(src="./img/partners/nestle.png", alt="")
      a(href="https://pharmasyntez.com/", target="_blank", class="partners__item swiper-slide")
        img(src="./img/partners/pharma_syntez.jpg", alt="")
      a(href="https://www.rosneft.ru/", target="_blank", class="partners__item swiper-slide", id="rosneft")
        img(src="./img/partners/rosneft.png", alt="")
      a(href="https://www.serviceplan.ru/ru.html", target="_blank", class="partners__item swiper-slide")
        img(src="./img/partners/serviceplan.png", alt="")
      a(href="https://gett.com/ru/", target="_blank", class="partners__item swiper-slide")
        img(src="./img/partners/gett.png", alt="")
      a(href="https://stavromed.ru/ru/", target="_blank", class="partners__item swiper-slide")
        img(src="./img/partners/stavromed.jpeg", alt="")