section.partners 
  .partners__slider.swiper
    .partners__content.swiper-wrapper
      .partners__item.swiper-slide
        img(src="./img/partners/stereotactic.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/mullenlowe.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/kingsley.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/amedia.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/Hipp.png", alt="")
      .partners__item.swiper-slide#rosneft
        img(src="./img/partners/rosneft.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/gett.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/serviceplan.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/mcCann.png", alt="")
      .partners__item.swiper-slide#dpg
        img(src="./img/partners/DPG.png", alt="")