section.partners.container
  .partners__slider.swiper
    .partners__content.swiper-wrapper
      div( class="partners__item swiper-slide" data-openclip="https://storage.yandexcloud.net/chernozyom/full/Aspectus-Pharma_big") 
        img(src="./img/partners/euroservice.png", alt="")
      div( class="partners__item swiper-slide" id="gazprom" data-openclip="https://storage.yandexcloud.net/chernozyom/maskots_4pub")
        img(src="./img/partners/gaz.png", alt="")
      div( class="partners__item swiper-slide" data-openclip="https://storage.yandexcloud.net/chernozyom/full/uchenie_big")
        img(src="./img/partners/uchenie.png", alt="")
      div( class="partners__item swiper-slide" data-openclip="https://storage.yandexcloud.net/chernozyom/full/PharmaSyntez_2021_CUT_full_big")
        img(src="./img/partners/pharmasyntez.png", alt="")
      div( class="partners__item swiper-slide", id="rosneft" data-openclip="https://storage.yandexcloud.net/chernozyom/medvedi")
        img(src="./img/partners/rosneft.png", alt="")
      a(href="https://www.youtube.com/playlist?list=PLkjxsbCfruFIw8NRhhE6SIFTyQwhrTLCj", target="_blank", rel="noopener noreferrer" class="partners__item swiper-slide")
        img(src="./img/partners/exo.png", alt="")
      div( class="partners__item swiper-slide" data-openclip="https://storage.yandexcloud.net/chernozyom/gett-delivery_magaz")
        img(src="./img/partners/gett.png", alt="")
      div( class="partners__item swiper-slide" id="stavromed" data-openclip="https://storage.yandexcloud.net/chernozyom/kreslo_komfort_m5")
        img(src="./img/partners/stavromed.png", alt="")