section.partners.container
  .partners__slider.swiper
    .partners__content.swiper-wrapper
      .partners__item.swiper-slide
        img(src="./img/partners/euroservice.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/invitro.jpeg", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/nestle.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/pharma_syntez.jpg", alt="")
      .partners__item.swiper-slide#rosneft
        img(src="./img/partners/rosneft.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/gett.png", alt="")
      .partners__item.swiper-slide
        img(src="./img/partners/stavromed.jpeg", alt="")