doctype html
html(lang="ru")
  head
    title Chernozem Studio | About

    link(rel='stylesheet', href='../index.pcss')
    style 
      include ./about.pcss

    script(src='../contacts.js' defer type="module")

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="")

    //- Favicon
    link(rel="apple-touch-icon" sizes="180x180" href="../assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../assets/favicons/favicon-16x16.png")
    link(rel="icon" type="image/x-icon" href="../assets/favicons/favicon.ico")
    meta(name="theme-color" content="#000000")

    // Yandex.Metrika counter
    script.
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(89902591, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
      });
    <noscript><div><img src="https://mc.yandex.ru/watch/89902591" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    // /Yandex.Metrika counter
    
  body
    main
      include ./blocks/header/header.pug
      
      .about.container
        .about__img 
          img(src="../img/about.jpg" alt="Видео продюсер Алексей")
        .about__body 
          h2.about__header About us
          .about__text
            p My name is Aleksey. I was born in 1989 in Leningrad, Soviet Union, and I am a self taught video producer with more than 20 years of professional work experience under my belt.

            p As a producer I have worked for several state and independent TV channels in Russia (2nd Kanal, 5th Kanal in St. Petersburg, Dozhd), as well as the leading media studio Shandesign, where I did production, colour grading and editing for national and international media partners.

            p In 2015 I launched my own studio, Chernosyem. I do video postproduction, 3D animations, graphics and colour gradings for russian and international clients. I take pride in delivering creative and innovative solutions, that let my clients stand out, no matter how tight the deadline.
      include ./blocks/footer/footer.pug
      
    
