section.projects
  //- fix automerge swiper in pug
  p=support 
  //- fix end
  .projects__slider.swiper#animation
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/5.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/2.png", alt="")
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://assets.awwwards.com/awards/element/2022/05/6290b4333a533589673742.mp4" type="video/mp4")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/4.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/3.png", alt="")
  .projects__slider.swiper#pers3d
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/3.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/4.png", alt="")
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://assets.awwwards.com/awards/element/2022/05/6290b4333a533589673742.mp4" type="video/mp4")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/2.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/8.png", alt="")
  .projects__slider.swiper#filming
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/1.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/2.png", alt="")
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://assets.awwwards.com/awards/element/2022/05/6290b4333a533589673742.mp4" type="video/mp4")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/3.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/4.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/5.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/6.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/7.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/8.png", alt="")
  .projects__slider.swiper#animation3d
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/7.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/2.png", alt="")
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://assets.awwwards.com/awards/element/2022/05/6290b4333a533589673742.mp4" type="video/mp4")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/3.png", alt="")
  .projects__slider.swiper#colors
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/3.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/2.png", alt="")
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://assets.awwwards.com/awards/element/2022/05/6290b4333a533589673742.mp4" type="video/mp4")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/1.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/1.png", alt="")
  .projects__slider.swiper#awards
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/6.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/2.png", alt="")
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://assets.awwwards.com/awards/element/2022/05/6290b4333a533589673742.mp4" type="video/mp4")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/3.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/4.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/5.png", alt="")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Евросеть. Sony X 345
          p.projects__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis a pariatur temporibus accusantium nobis odit ad accusamus autem dolorem quas architecto non, sunt facere illo est ipsam assumenda! Mollitia.
        img(src="./img/projects/6.png", alt="")