section.projects
  //- fix automerge swiper in pug
  p=support 
  //- fix end
  .rr.oo
  .ll.oo
  .projects__slider.swiper#filming
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Ставромед
          p.projects__desc Продуктовый ролик для завода медицинского оборудования "Ставромед". Кровать для высокотехнологичной отечественной медицины КФ280-ЭН
          ul.projects__tags
            li #Съемки
            li #Награды
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/krovat_KF280EN.jpg")
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/krovat_KF280EN.webm" type="video/webm")
      .projects__item.swiper-slide
        .up
        .projects__text
          h2.projects__title Аспектус Фарма
          p.projects__desc Информационный фильм о фармацевтическом заводе "Аспектус Фарма". Награда: "Лучший информационный фильм 2021"
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/Aspectus-Pharma.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/Aspectus-Pharma.webm" type="video/webm")
      .projects__item.swiper-slide
        .up
        .projects__text
          h2.projects__title Фармасинтез
          p.projects__desc Лонч новой линейки гормональных препаратов АО "Фармасинтез" для профессионального рынка
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/Pharmasyntez-Gormony_3K.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/Pharmasyntez-Gormony_3K.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Продуктовый ролик Ставромед
          p.projects__desc Продуктовый ролик для завода медицинского оборудования "Ставромед". Кресло для высокотехнологичной отечественной медицины "Ставромед Комфорт М5"
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/kreslo_komfort_m5.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/kreslo_komfort_m5.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Тест-драйв элитного катера "Крис Крафт"
          p.projects__desc Тест-драйв элитного катера "Крис Крафт" в яхт-клубе "Буревестник"
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/burevestnik.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/burevestnik.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Лонч сиропа для коктейлей с Александром Штифановым
          p.projects__desc Лонч китайского сиропа для коктейлей с приглашенной "звездой" Александром Штифановым
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/chuanbay.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/chuanbay.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Рудоперерабатывающий завод ICC
          p.projects__desc Информационный фильм о рудоперерабатывающем заводе ICC
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/3.png" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/chuanbay_ru_CC_SND-h264_CC-4k.webm" type="video/webm")
  .projects__slider.swiper#animation
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Gett Delivery
          p.projects__desc Лонч сервиса Gett Delivery B2B
          ul.projects__tags
            li #Съемки
            li #Награды
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/gett-delivery_magaz.jpeg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/gett-delivery_magaz.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Персонаж для "Газпром заправки"
          p.projects__desc Анимационные 3D персонажи для приложения "Газпром заправки"
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/maskots_4pub.jpeg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/maskots_4pub.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Фармасинтез
          p.projects__desc Отчётный ролик за 2020 год для АО "Фармасинтез"
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/PharmaSyntez_2021_CUT_full.jpeg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/PharmaSyntez_2021_CUT_full.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title НАУКА
          p.projects__desc Лонч нацпроекта "Наука"
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/uchenie.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/uchenie.webm" type="video/webm")
  .projects__slider.swiper#pers3d
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Персонаж для "Газпром заправки"
          p.projects__desc Анимационные 3D персонажи для приложения "Газпром заправки"
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/maskots_4pub.jpeg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/maskots_4pub.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Роснефть
          p.projects__desc Статичные 3D персонажи “Семья медведей”
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/rosneft.jpeg" )
        //- video(class="projects__video lazy-video" muted playsinline loop preload="none")
        //-   source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/6290b4333a533589673742.mp4" type="video/mp4")
  .projects__slider.swiper#postprod
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Монтаж клипа APACHE - No Twerk
          p.projects__desc Версия монтажа клипа Мигеля на трек APACHE - No Twerk
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/7.png" )
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title СЕМЕН СЛЕПАКОВ - ПОБАЗАРИМ ЗА КУЛЬТУРУ (ШНУРОВ DISS)
          p.projects__desc Цветокоррекция клипа Семёна Слепакова “Побазарим за культуру”
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/7.png" )
      .projects__item.swiper-slide
        .up
        .projects__text
          h2.projects__title Котекс Адушкина
          p.projects__desc Монтаж, цветокоррекция, графика рекламного ролика “Котекс” с популярными блогерами
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/adushkina.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/adushkina.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Фоксфорд
          p.projects__desc Цветокоррекция рекламного ролика школы “Фоксфорд”
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/foxford_HD.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/foxford_HD.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Ивлеева
          p.projects__desc Монтаж, цветокоррекция, графика рекламного ролика “Котекс” с популярными блогерами
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/kotex_ivleeva_HD.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/kotex_ivleeva_HD.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Мелникова
          p.projects__desc Монтаж, цветокоррекция, графика рекламного ролика “Котекс” с популярными блогерами
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/melnikova.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/melnikova.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Модница
          p.projects__desc Ролик для “Котекс” — Модница
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/moda_DIRcut.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/moda_DIRcut.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Семейная история
          p.projects__desc Ролик для “Котекс” — Семейная история
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/semya_DIRcut.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/semya_DIRcut.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Спортивная история
          p.projects__desc Ролик для “Котекс” — Спортивная история
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/sport_DIRcut.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/sport_DIRcut.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Студентка
          p.projects__desc Ролик для “Котекс” — Студентка
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/student_DIRcut.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/student_DIRcut.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Графика и цветокор для Нобазит
          p.projects__desc Графика и цветокоррекция ролика для таблеток “Нобазит”
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/nobasit.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/nobasit.webm" type="video/webm")
  .projects__slider.swiper#colors
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Деморил 2020
          p.projects__desc Деморил цветокоррекции 2020
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/color_demo_reel.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/color_demo_reel.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Модница
          p.projects__desc Ролик для “Котекс” — Модница
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/moda_DIRcut.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/moda_DIRcut.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Семейная история
          p.projects__desc Ролик для “Котекс” — Семейная история
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/semya_DIRcut.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/semya_DIRcut.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Спортивная история
          p.projects__desc Ролик для “Котекс” — Спортивная история
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/sport_DIRcut.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/sport_DIRcut.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Котекс Студентка
          p.projects__desc Ролик для “Котекс” — Студентка
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/student_DIRcut.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/student_DIRcut.webm" type="video/webm")
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Пельмени Телятино
          p.projects__desc Цветокоррекция ролика “Пельмени Телятино”
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/teletino.jpg" )
        video(class="projects__video lazy-video" muted playsinline loop preload="none")
          source(src="./videos/blank.mp4" data-src="https://storage.yandexcloud.net/chernozyom/teletino.webm" type="video/webm")
  .projects__slider.swiper#awards
    .projects__content.swiper-wrapper
      .projects__item.swiper-slide
        .projects__text
          h2.projects__title Лучший информационный фильм 2021 года
          p.projects__desc Лучший информационный фильм 2021 года — проект студии Чернозём "Информационный фильм о фармацевтическом заводе "Аспектус Фарма".
        img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=' data-src, alt="", class="swiper-lazy")
        noscript
          img(src="./img/projects/awards.jpeg" )