.popup 
  .popup-close
  .popup__container
    .popup__body
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/XBleNfmkScA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>