.popup 
  .popup-close
  .popup__container
    .popup__body
      video(class="popup__video" playsinline preload="none" controls)
        source(src="./videos/blank.webm" data-src="" type="video/webm")